target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture.html
!**/src/main/resources/architecture.json
!**/src/main/resources/architecture.png
!**/src/main/resources/architecture.svg

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/resources/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/resources/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
